.cont {
  background-color: aliceblue;
  height: auto;
  padding-bottom: 12px;
}
.contSwitch {
  background: #1d1d1d;
  background-size: cover;
  height: auto;
  padding-bottom: 12px;
  color: aliceblue;
}
.bodySwitch {
  background: #1d1d1d;
}
.textRight {
  text-align: right;
}
.inline {
  display: inline-block;
}
.navigasi:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.logo {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: -10px;
  margin-right: 10px;
}
.navigasiCont {
  background-color: #1d1d1d;
  width: "auto";
  border-radius: 25px,
}
.navSwitch {
  background-color: #1d1d1d;
}
.p1 img{
  width: 40px;
  margin-top: 2px;
  margin-left: -5px;
  height: 40px;
}
.p2 img{
  margin-left: 5px;
  margin-top: -2px;
  width: 49px;
  height:auto;
}
.p3 img {
  width: 42px;
  margin-left: 5px;
  margin-top: 4px;
  height: 38px;
}